body {
  background-color: #a0a050;
  font-size: 150%;
  font-family: "Comic Sans MS";
}

h1 {
  text-align: center;
}

div, canvas {
  text-align: center;
}

div.lateral {
  width: 25%;
}
div#stats {
  float: right;
}
div#instructions {
  float: left;
}

canvas {
  width: 49%;
}
