body {
  background-color: #a0a050;
  font-size: 150%;
}

h1 {
  text-align: center;
}

div, canvas {
//  border-width: 5px;
//  border-style: solid;
//  border-color: #0000ff;
}

div {
  width: 24%;
}
div#stats {
  float: right;
}
div#instructions {
  float: left;
}

canvas {
  width: 50%;
}
